
.icon-dog:before { content: '\e800'; } /* '' */
.icon-googleplus:before { content: '\f059'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */